<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <title>define health alerts</title>

    <link rel="stylesheet" href="/static/themes/green.css" />
    <link rel="stylesheet" href="/static/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile.structure-1.4.3.min.css" /> 

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <script>

    $(function() {
        dialog = $( "#dialog-form" ).dialog({
        autoOpen: false,
        height: 400,
        width: 200,
        modal: true
        });
    });

    $(document).ready(function() {
        $( '#change-meal' ).click(function() {
            console.log("foo");
            dialog.dialog( "open" );
        });

        $( '#dialog-form input[type=text]').click(function(event){
            event.target.value = parseInt(event.target.value) + 1;
            event.target.blur();
        });

        $( '#dialog-form input[type=text]').on("contextmenu",function(event){
            event.preventDefault();
            event.target.value = parseInt(event.target.value) - 1;
            event.target.blur();
        });
        
    });
    
    </script>
</head> 

<body> 

<div data-role="page">

    <div data-role="header" data-position="fixed">
        <h1>Route Trout</h1>
        <div data-role="navbar">
            <ul>
                <li><a href="#" class="ui-btn-active">Route</a></li>
                <li><a href="#">Participant</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Setup</a></li>
            </ul>
        </div>
    </div><!-- /header -->
    <div data-role="content">

        <h2 class="ui-bar ui-bar-a ui-corner-all">Daily Route Thursday, July 10, 2014</h2>

        <div class="ui-body">
            <div data-role="collapsible">
            <h3>Congregate</h3>
            <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
            <p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
            <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est. </p><p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
            </div>
            <div data-role="collapsible">
                <h3>Tahoe City</h3>

                <div id="participant1" data-role="collapsible">
                    <h4>Juan Ruiz</h4>
                    <ul>
                        <li>diabetic</li>
                        <li>no mushrooms</li>
                        <li>no milk</li>
                    </ul>
                    <div id="dialog-form" title="Change Meal Requests">
                        <table>
                        <tr>
                          <td>Regular</td>
                          <td>
                            <input 
                            id="Regular" 
                            type="text" value="1" size=3
                            data-name="Juan Ruiz" />
                          </td>
                        </tr>
                        <tr>
                          <td>Frozen</td>
                          <td>
                            <input 
                            id="Frozen" 
                            type="text" value="0" size=3
                            data-name="Juan Ruiz" />
                          </td>
                        </tr>
                        <tr>
                          <td>Breakfast</td>
                          <td>
                            <input 
                            id="Breakfast" 
                            type="text" value="0" size=3
                            data-name="Juan Ruiz" />
                          </td>
                        </tr>
                        <tr>
                          <td>Milk</td>
                          <td>
                            <input 
                            id="Milk" 
                            type="text" value="0" size=3
                            data-name="Juan Ruiz" />
                          </td>
                        </tr>
                        <tr>
                          <td>Salad</td>
                          <td>
                            <input 
                            id="Salad" 
                            type="text" value="0" size=3
                            data-name="Juan Ruiz" />
                          </td>
                        </tr>
                        <tr>
                          <td>Fruit</td>
                                <td>
                            <input 
                            id="Fruit" 
                            type="text" value="0" size=3
                            data-name="Juan Ruiz" />
                          </td>
                        </tr>
                        <tr>
                          <td>Bread</td>
                          <td>
                            <input 
                            id="Bread" 
                            type="text" value="0" size=3
                            data-name="Juan Ruiz" />
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div id="users-contain" class="ui-widget">
                            <h1>Meal Requests</h1>
                            <table id="users" class="ui-widget ui-widget-content">
                                <tbody>
                                    <tr>
                                        <td>Regular</td><td>1</td>
                                    </tr>
                                    <tr>
                                        <td>Frozen</td><td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Breakfast</td><td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Milk</td><td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Salad</td><td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Fruit</td><td>0</td>
                                    </tr>
                                    <tr>
                                        <td>Bread</td><td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            <button id="change-meal">Change Meal Requests</button>
                </div>

                <div id="participant2" data-role="collapsible">
                    <h4>Sue Baker</h4>
                </div>

                <div id="pariticpant3" data-role="collapsible">
                    <h4>Ralph Waldo</h4>
                </div>
            </div>
            <div data-role="collapsible">
                <h3>Kings Beach</h3>
                <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
                <ul>
                <li>List item one</li>
                <li>List item two</li>
                <li>List item three</li>
                </ul>
            </div>
            <div data-role="collapsible">
                <h3>Truckee</h3>
                <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est. </p>
            </div>
        </div>
        
    </div><!-- /content -->
    
    <div data-role="footer" data-position="fixed">
        <h4>Footer content</h4>
    </div><!-- /footer -->
    
</div><!-- /page -->

</body>
</html>