<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <title>define health alerts</title>

    <link rel="stylesheet" href="/static/themes/green.css" />
    <link rel="stylesheet" href="/static/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile.structure-1.4.3.min.css" /> 

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/tinysort/1.5.6/jquery.tinysort.js"></script>

</head> 

<body> 

<div data-role="page">

    <div data-role="header" data-position="fixed">
        <h1>Route Trout</h1>
        <div data-role="navbar">
            <ul>
                <li><a href="#">Route</a></li>
                <li><a href="#">Participant</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#" class="ui-btn-active">Setup</a></li>
            </ul>
        </div>
    </div><!-- /header -->
    <div data-role="content">
        <div data-role="controlgroup" data-type="horizontal">
            <a href="#" class="ui-btn">Route</a>
            <a href="#" class="ui-btn ui-btn-active">Health Alerts</a>
            <a href="#" class="ui-btn">Foods</a>
            <a href="#" class="ui-btn">Users</a>
        </div>

        <h2 class="ui-bar ui-bar-a ui-corner-all">Health Alert Defaults</h2>
        <div class="ui-body">
            <form id="define-health-alert">
                <label for="health_alert">Add new health alert to list of defaults"</label>
                <input data-clear-btn="true" name="health_alert" id="health_alert" value="" type="text">
            </form>
            <ul id="health-alert-list" data-role="listview" data-inset="true">
                {% for health_alert in health_alert_list %}
                <li data-icon="delete" class="health_alerts" data-id="{{health_alert.id}}"><a href="#">{{health_alert.description}}</a></li>
                {% endfor %}
            </ul>
        </div>

        <script type="text/javascript">

        function deleteHealthAlert(event, obj){
            health_alert_id = obj.attr('data-id');

            var data = {
                "health_alert_id": health_alert_id
            };

            $.ajax({
                url: "/delete_health_alert",
                data: data,
                type : "POST"
            }).done(function(response){
                console.log(health_alert_id);
                $(" li[data-id = "+health_alert_id+"] ").remove();
                $("#health-alert-list").listview('refresh');
            });
        }

        function addHealthAlert(event){
            event.preventDefault();
            health_alert_description = $("#health_alert").val();
            $("#health_alert").val("");

            var data = {
                "health_alert_description": health_alert_description
            };

            $.ajax({
                url: "/add_health_alert",
                data: data,
                type : "POST",
                dataType: "json"
            }).done(function(response){
                //console.log(response);
                var new_a = $("<a />").attr("href", "#").text(response.desc);
                var new_li = $("<li />").attr({
                    "data-icon": "delete",
                    "class": "health_alerts",
                    "data-id": response.id
                })
                new_li.append(new_a);
                $("#health-alert-list").append(new_li);
                $("#health-alert-list>li").tsort();
                $("#health-alert-list").listview('refresh');
            });
        }

        $(document).ready(function(){

            $('.health_alerts').click(function(event){
                deleteHealthAlert(event, $(this));
            });

            $('#define-health-alert').submit(function(event){
                addHealthAlert(event);
            });

        });
        </script>

    </div><!-- /content -->
    
    <div data-role="footer" data-position="fixed">
        <h4>Footer content</h4>
    </div><!-- /footer -->
    
</div><!-- /page -->

</body>
</html>