<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Droppable - Shopping Cart Demo</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  h1 { padding: .2em; margin: 0; }
  #base_exceptions { float:left; width: 500px; margin-right: 2em; }
  .exceptions { width: 300px; float: left; margin-top: 1em; }
  /* style the list to maximize the droppable hitarea */
  .exceptions ul { margin: 0; padding: 1em 0 1em 3em; list-style-type: none; }
  </style>
  <script>
  $(function() {
    // $( "#catalog" ).accordion();
    $( "#catalog li" ).draggable({
      appendTo: "body",
      helper: "clone"
    });
    $( "#health_alerts ul" ).droppable({
      activeClass: "ui-state-default",
      hoverClass: "ui-state-hover",
      accept: ":not(.ui-sortable-helper)",
      drop: function( event, ui ) {
        $( this ).find( ".placeholder" ).remove();
        $( "<li></li>" ).text( ui.draggable.text() ).appendTo( this );
      }
    }).sortable({
      items: "li:not(.placeholder)",
      sort: function() {
        // gets added unintentionally by droppable interacting with sortable
        // using connectWithSortable fixes this, but doesn't allow you to customize active/hoverClass options
        $( this ).removeClass( "ui-state-default" );
      }
    });
  });
  </script>
</head>
<body>
 
<div id="base_exceptions">
  <h1 class="ui-widget-header">Participant Exceptions</h1>
  <div id="catalog">
    <h2><a href="#">Health Alerts</a></h2>
    <div>
      <ul>
        <li>diabetic</li>
        <li>nuts alergy</li>
        <li>walnut alergy</li>
        <li>milk alergy</li>
        <li>avocado alergy</li>
        <li>milk</li>
        <li>gluten free</li>
        <li>chopped food</li>
      </ul>
    </div>
    <h2><a href="#">Foods</a></h2>
    <div>
      <ul>
        <li>salmon</li>
        <li>dark greens</li>
        <li>meatloaf</li>
        <li>mushrooms</li>
        <li>ham</li>
        <li>salad</li>
        <li>stewed tomatoes</li>
        <li>eggs</li>
        <li>poultry</li>
        <li>raw carrots</li>
        <li>cooked carrots</li>
        <li>milk</li>
        <li>tuna</li>
        <li>rice</li>
        <li>large portions</li>
        <li>fish</li>
      </ul>
    </div>
  </div>
</div>
 
<div id="health_alerts" class="exceptions">
  <h1 class="ui-widget-header">Health Alert</h1>
  <div class="ui-widget-content">
    <ul>
      <li class="placeholder">Drag heath issues here</li>
    </ul>
  </div>
</div>

<div id="no_thankyou" class="exceptions">
  <h1 class="ui-widget-header">No, Thank you</h1>
  <div class="ui-widget-content">
    <ul>
      <li class="placeholder">Drag don't serve items here</li>
    </ul>
  </div>
</div>

<div id="yes_please" class="exceptions">
  <h1 class="ui-widget-header">Yes, Please</h1>
  <div class="ui-widget-content">
    <ul>
      <li class="placeholder">Drag serve items here</li>
    </ul>
  </div>
</div> 
 
</body>