<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <title>route</title>

    <link rel="stylesheet" href="/static/themes/green.css" />
    <link rel="stylesheet" href="/static/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile.structure-1.4.3.min.css" /> 

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>

    <script>

    function editQuantity(event, obj){
        field = obj.attr('id');
        //qty = obj.val();
        qty = String.fromCharCode(event.keyCode);

        var data = {
            "field": field,
            "qty": qty
        };
        $.ajax({
            url: "/edit_qty",
            data: data,
            type : "POST"
        }).done(function(response){
            console.log("after ajax");
        });
    }

    $(document).ready(function(){

        $('.edit_qty').change(function(event){
            // editQuantity(event, $(this));
        });

    });
    </script>

</head> 

<body> 

<div data-role="page">

    <div data-role="header" data-position="fixed">
        <h1><img src="../../static/routetrout_logo.png"></h1>
        <div data-role="navbar">
            <ul>
                <li><a href="/" class="ui-btn-active">Route</a></li>
                <li><a href="/participant">Participant</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="/define_preferences">Setup</a></li>
            </ul>
        </div>
    </div><!-- /header -->

    <div data-role="content">
        <h2 class="ui-bar ui-bar-a ui-corner-all">Daily Route Wednesday, August 6, 2014</h2>

        <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">                
            <h3>Kings Beach</h3>
            {% for participant in route_list %}
            <div id="participant_{{ participant.participant_id }}" data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                <h4>{{ route_dict[participant].name }}</h4> 
                <h4>{{ route_dict[participant].addr1 }} {{ route_dict[participant].addr2 }}, {{ route_dict[participant].city }}</h4>
                <p>{{ participant.notes }}</p>
                <div class ="ui-grid-c ui-responsive">
                    <div class="ui-block-a">
                        <div class="ui-bar">
                            <h4>Meals</h4>
                            <table id="meals_{{ participant.participant_id }}">                            
                            <tr>
                                <td width="100px">Regular</td>
                                <td>{{ route_dict[participant].regular }}</td>
                            </tr>
                            <tr>
                                <td width="20px">Frozen</td>
                                <td>{{ route_dict[participant].frozen }}</td>
                            </tr>
                            <tr>
                                <td>Breakfast</td>                                    
                                <td>{{ route_dict[participant].breakfast }}</td>
                            </tr>
                            <tr>
                                <td>Milk</td>
                                <td>{{ route_dict[participant].milk }}</td>
                            </tr>
                            <tr>
                                <td>Salad</td>
                                <td>{{ route_dict[participant].salad }}</td>
                            </tr>
                            <tr>
                                <td>Fruit</td>
                                <td>{{ route_dict[participant].fruit }}</td>
                            </tr>
                            <tr>
                                <td>Bread</td>
                                <td>{{ route_dict[participant].bread }}</td>
                            </tr>
                            </table>
                            <a href="#change_meals" data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-action ui-btn-icon-right ui-btn-a ui-mini" data-transition="pop">Change meals</a>
                            <div data-role="popup" id="change_meals" class="ui-corner-all">
                                <form>
                                    <div style="padding:10px 20px;">
                                        <h3>Change meals</h3>
                                        <label for="un" class="ui-hidden-accessible">Username:</label>
                                        <input name="user" id="un" value="" placeholder="username" data-theme="a" type="text">
                                        <label for="pw" class="ui-hidden-accessible">Password:</label>
                                        <input name="pass" id="pw" value="" placeholder="password" data-theme="a" type="password">
                                        <button type="button" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Update</button>
                                    </div>
                                </form>
                            </div>                           
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div class="ui-bar">
                            <h4>Health Alerts</h4>
                            {% for alert in route_dict[participant].alerts %}
                                <li>{{ alert }}</li>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="ui-block-c">
                        <div class="ui-bar">
                            <h4>No, Thank You</h4>
                            {% for no in route_dict[participant].noes %}
                                <li>{{ no }}</li>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="ui-block-d">
                        <div class="ui-bar">
                            <h4>Yes, Please</h4>
                            {% for yes in route_dict[participant].yeses %}
                                <li>{{ yes }}</li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}              
        </div>
    </div><!-- /content -->
    
    <div data-role="footer" data-position="fixed">
        <h4>Footer content</h4>
    </div><!-- /footer -->
    
</div><!-- /page -->

</body>
</html>