<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <title>participants</title>

    <link rel="stylesheet" href="/static/themes/green.css" />
    <link rel="stylesheet" href="/static/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile.structure-1.4.3.min.css" /> 

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>

</head> 

<body> 

<div data-role="page">


    <div data-role="header" data-position="fixed">
        <h1><img src="../../static/routetrout_logo.png"></h1>
        <div data-role="navbar">
            <ul>
                <li><a href="/">Route</a></li>
                <li><a href="/participant" class="ui-btn-active">Participant</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="/define_preferences">Setup</a></li>
            </ul>
        </div>
    </div><!-- /header -->
    
    <div data-role="content">
        <h2 class="ui-bar ui-bar-a ui-corner-all">Participant</h2>
        <div class="ui-body">
            <a href="participant_add" class="ui-btn ui-icon-plus ui-corner-all ui-btn-icon-right">Add new participant</a>
            <form method="POST">
                <label for="search_participant">Enter name to search participant</label>
            </form>
            <ul data-role="listview" data-inset="true" data-filter="true">
                {% for participant in participant_list %}
                <li><a href="{{ url_for('show_participant_status', participant_id=participant.id) }}">{{participant.full_name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        
    </div><!-- /content -->
    
    <div data-role="footer" data-position="fixed">
        <h4>Footer content</h4>
    </div><!-- /footer -->
    
</div><!-- /page -->

</body>
</html>