<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <title>participants</title>

    <link rel="stylesheet" href="/static/themes/green.css" />
    <link rel="stylesheet" href="/static/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile.structure-1.4.3.min.css" /> 

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>


</head> 

<body> 

<div data-role="page">

    <div data-role="header" data-position="fixed">
        <h1>Route Trout</h1>
        <div data-role="navbar">
            <ul>
                <li><a href="#">Route</a></li>
                <li><a href="#" class="ui-btn-active" >Participant</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Setup</a></li>
            </ul>
        </div>
    </div><!-- /header -->
    <div data-role="content">
        <form id="participant_status" method="POST">
        <div data-role="controlgroup" data-type="horizontal" data-mini="true">
            <a href="/participant_status" class="ui-btn ui-btn-active">Status</a>
            <a href="#" class="ui-btn">Meal Defaults</a>
            <a href="/participant_delivery" class="ui-btn">Delivery Info</a>
        </div>
        <div data-role="controlgroup" data-type="horizontal" data-mini="true">
            <a href="/participant_health_alerts" class="ui-btn">Health Alerts</a>
            <a href="#" class="ui-btn">Food Preferences</a>
        </div>
        <div data-role="controlgroup" data-type="horizontal" data-mini="true">
            <a href="/participant_contact" class="ui-btn">Contact</a>
            <a href="#" class="ui-btn">Vitals</a>
        </div>

        <h2 class="ui-bar ui-bar-a ui-corner-all">Participant {{ participant.full_name }}</h2>

        <div class="ui-field-contain">
            <label for="full_name">Full Name</label>
            <input name="full_name" id="full_name" placeholder="Enter participant's common name" value="{{ participant.full_name }}" type="text">
        </div>
        <div class="ui-field-contain">
            <label for="status" class="select">Status</label>
            <select name="status" id="status" value="{{ participant.status }}" data-native-menu="false">
                <option>Status</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
                <option value="Terminated">Terminated</option>
            </select>
        </div>
        <div class="ui-field-contain">
            <label for="participant_route" class="select">Route</label>
            <select name="participant_route" id="participant_route" value="{{ participant_route }}" data-native-menu="false">
                <option>Route</option>
                <option value="Congregate">Congregate</option>
                <option value="Truckee">Truckee</option>
                <option value="Kings Beach">Kings Beach</option>
                <option value="Tahoe City">Tahoe City</option>
                <option value="Incline Village">Incline Village</option>
            </select>
        </div>
        <div class="ui-field-contain">
            <label for="Q_ID">Q ID</label>
            <input name="Q_ID" id="Q_ID" placeholder="Enter participant's Q database ID" value="{{ participant.Q_ID }}" type="text">
        </div>
        <div class="ui-field-contain">
            <label for="general_notes">Notes</label>
            <input name="general_notes" id="general_notes" placeholder="Enter general notes here.  Delivery notes are entered later." value="{{ participant.general_notes }}">
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div>
                    <ul>
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        <input id="status_submit" data-icon="action" data-iconpos="right" value="Update" type="submit">
        </form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="flashes" data-role="popup">
                    <ul>
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <script type="text/javascript">
                    $(document).on('pageshow', function()
                    {
                        setTimeout(function()
                        {
                            //$("#flashes").popup("open");
                        }, 100);
                    });
                </script>
            {% endif %}
        {% endwith %}

    </div><!-- /content -->
    
    <div data-role="footer" data-position="fixed">
        <h4>Footer content</h4>
    </div><!-- /footer -->
    
</div><!-- /page -->

</body>
</html>