<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <title>Participant Meals</title>

    <link rel="stylesheet" href="/static/themes/green.css" />
    <link rel="stylesheet" href="/static/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile.structure-1.4.3.min.css" />
    <link rel="stylesheet" href="/static/main.css" /> 

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>

</head> 

<body> 

<div data-role="page">

    <div data-role="header" data-position="fixed">
        <h1><img src="../../static/routetrout_logo.png"></h1>
        <div data-role="navbar">
            <ul>
                <li><a href="/">Route</a></li>
                <li><a href="/participant" class="ui-btn-active">Participant</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="/define_preferences">Setup</a></li>
            </ul>
        </div>
    </div><!-- /header -->
    
    <div data-role="content">
        <div data-role="controlgroup" data-type="horizontal" data-mini="true">
            <a href="{{ url_for('show_participant_status', participant_id=participant.id) }}" class="ui-btn">Status</a>
            <a href="{{ url_for('show_participant_delivery', participant_id=participant.id) }}" class="ui-btn">Delivery</a>
            <a href="{{ url_for('show_participant_meals', participant_id=participant.id) }}" class="ui-btn ui-btn-active">Meals</a>
            <a href="{{ url_for('show_participant_preferences', participant_id=participant.id) }}" class="ui-btn">Preferences</a>
            <a href="{{ url_for('show_participant_contact', participant_id=participant.id) }}"  class="ui-btn">Contact</a>
            <a href="{{ url_for('show_participant_vitals', participant_id=participant.id) }}" class="ui-btn">Vitals</a>
        </div>
        
        <h2 class="ui-bar ui-bar-a ui-corner-all">Participant {{ participant.full_name }}</h2>

        <form id="participant_meals" method="POST">
            <table data-role="table" data-mode="reflow" class="ui-responsive table-stroke" id="meals_{{ participant.participant_id }}">
            <thead>
                <tr>
                    <th>Meal Type</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                </tr>
            </thead>
            <tbody>
            {% set meal_list = ['regular', 'frozen', 'breakfast', 'milk', 'salad', 'fruit', 'bread'] %}
            {% for meal in meal_list %}                           
                <tr>
                    <th>{{ meal }}</th>
                        {% for day_qty in part_meals_dict[meal] %}
                        <td>{{ day_qty }}</td>
                        {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>  

            <input id="status_submit" data-icon="action" data-iconpos="right" value="Update" type="submit">
        </form>
    </div><!-- /content -->
    
    <div data-role="footer" data-position="fixed">
        <h4>Footer content</h4>
    </div><!-- /footer -->
    
</div><!-- /page -->

</body>
</html>