<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <title>participants</title>

    <link rel="stylesheet" href="/static/themes/green.css" />
    <link rel="stylesheet" href="/static/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile.structure-1.4.3.min.css" />
    <link rel="stylesheet" href="/static/main.css" /> 

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>

    <script>
        $(document).ready(function() {
            //$("body").delegate("#lang_english", 'slidestop', function( event ) {
            $("#lang_english").on('slidestop', function( event ) {
                var slider_value=$("#lang_english").slider().val();
                if (slider_value == "No")
                {
                    $( "#interpreter").show();
                }
                else 
                {
                    $( "#interpreter").hide();
                    $( "#lang_interpreter").val("");
                }
            });
        });
    
    </script>
</head> 

<body> 

<div data-role="page">

    <div data-role="header" data-position="fixed">
        <h1><img src="../../static/routetrout_logo.png"></h1>
        <div data-role="navbar">
            <ul>
                <li><a href="/" class="ui-btn-active">Route</a></li>
                <li><a href="/participant">Participant</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="/define_preferences">Setup</a></li>
            </ul>
        </div>
    </div><!-- /header -->

    <div data-role="content">
        <div data-role="controlgroup" data-type="horizontal" data-mini="true">
            <a href="{{ url_for('show_participant_status', participant_id=participant.id) }}" class="ui-btn">Status</a>
            <a href="{{ url_for('show_participant_delivery', participant_id=participant.id) }}" class="ui-btn">Delivery</a>
            <a href="{{ url_for('show_participant_meals', participant_id=participant.id) }}" class="ui-btn">Meals</a>
            <a href="{{ url_for('show_participant_preferences', participant_id=participant.id) }}" class="ui-btn">Preferences</a>  
            <a href="{{ url_for('show_participant_contact', participant_id=participant.id) }}"  class="ui-btn ui-btn-active">Contact</a>
            <a href="{{ url_for('show_participant_vitals', participant_id=participant.id) }}" class="ui-btn">Vitals</a>
        </div>
        
        <h2 class="ui-bar ui-bar-a ui-corner-all">Participant {{ participant.full_name }}</h2>

        <form id="participant_contact" method="POST" data-ajax="false">
            <div class="ui-field-contain">
                <label for="lang_english">Does Speak English</label>                
                <select name="lang_english" id="lang_english" data-role="slider" data-native-menu="false">
                    <option value="Yes"{% if participant.lang_english == True %} selected="selected"{% endif %}>Yes</option>
                    <option value="No"{% if participant.lang_english == False %} selected="selected"{% endif %}>No</option>
                </select>
            </div>
            <div class="ui-field-contain" id="interpreter" {% if participant.lang_english == True %}style="display: none;" {% endif %}>
                <label for="lang_interpreter">Needs Interpreter Who Speaks</label>
                <input name="lang_interpreter" id="lang_interpreter" placeholder="Requires an interpreter who speaks" value="{{ participant.lang_interpreter }}" type="text" data-native-menu="false">
            </div>
            <div class="ui-field-contain">
                <label for="mail_addr_line1">Mailing Address 1</label>
                <input name="mail_addr_line1" id="mail_addr_line1" placeholder="Enter participant's mailing address" value="{{ participant.mail_addr_line1 }}" type="text">
            </div>
            <div class="ui-field-contain">
                <label for="mail_addr_line2">Mailing Address 2</label>
                <input name="mail_addr_line2" id="mail_addr_line2" placeholder="Enter participant's mailing address" value="{{ participant.mail_addr_line2 }}" type="text">
            </div>
            <div class="ui-field-contain">
                <label for="mail_city">Mailing City</label>
                <input name="mail_city" id="mail_city" placeholder="Enter participant's mailing city" value="{{ participant.mail_city }}" type="text">
            </div>
            <div class="ui-field-contain">
                <label for="mail_state">Mailing State</label>
                <select name="mail_state" id="mail_state" data-native-menu="false">
                    <option>State</option>
                    <option value="CA"{% if participant.mail_state == "CA" %} selected="selected"{% endif %}>California</option>
                    <option value="NV"{% if participant.mail_state == "NV" %} selected="selected"{% endif %}>Nevada</option>
                </select>
            </div>
            <div class="ui-field-contain">
                <label for="mail_zipcode">Mailing Zipcode</label>
                <input name="mail_zipcode" id="mail_zipcode" placeholder="Enter participant's mailing zipcode" value="{{ participant.mail_zipcode }}" type="text">
            </div>
            <div class="ui-field-contain">
                <label for="email_1">Email</label>
                <input name="email_1" id="email_1" placeholder="Enter participant's email address" value="{{ participant.email_1 }}" type="email">
            </div>
            <div class="ui-field-contain">
                <label for="tel_1">Best Telephone Number</label>
                <input name="tel_1" id="tel_1" placeholder="Enter participant's best contact phone number" value="{{ participant.tel_1 }}" type="tel">
            </div>
            <div class="ui-field-contain">
                <label for="tel_2">Alt Telephone Number</label>
                <input name="tel_2" id="tel_2" placeholder="Enter participant's alternate phone number" value="{{ participant.tel_2 }}" type="tel">
            </div>
            <input id="status_submit" data-icon="action" data-iconpos="right" value="Update" type="submit">
        </form>
    </div><!-- /content -->
    
    <div data-role="footer" data-position="fixed">
        <h4>Footer content</h4>
    </div><!-- /footer -->
    
</div><!-- /page -->

</body>
</html>