<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <title>participants</title>

    <link rel="stylesheet" href="/static/themes/green.css" />
    <link rel="stylesheet" href="/static/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile.structure-1.4.3.min.css" /> 

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>

</head> 
<body> 

<div data-role="page">

    <div data-role="header" data-position="fixed">
        <h1><img src="../../static/routetrout_logo.png"></h1>
        <div data-role="navbar">
            <ul>
                <li><a href="/" class="ui-btn-active">Route</a></li>
                <li><a href="/participant">Participant</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="/define_preferences">Setup</a></li>
            </ul>
        </div>
    </div><!-- /header -->

    <div data-role="content">
        <form id="participant_add" method="POST">
        <h2 class="ui-bar ui-bar-a ui-corner-all">Participant</h2>

        <div class="ui-field-contain">
            <label for="full_name">Full Name</label>
            <input name="full_name" id="full_name" placeholder="Enter participant's common name" value="" type="text">
        </div>
        <div class="ui-field-contain">
            <label for="participant_type" class="select">Type</label>
            <select name="status" id="status" value="" data-native-menu="false">
                <option>Status</option>
                <option value="Senior">Senior</option>
                <option value="Spouse">Spouse</option>
                <option value="Disability">Disability</option>
                <option value="Volunteer">Volunteer</option>
                <option value="Staff">Staff</option>
                <option value="Guest">Guest</option>                
            </select>
        </div>        
        <div class="ui-field-contain">
            <label for="status" class="select">Status</label>
            <select name="status" id="status" value="" data-native-menu="false">
                <option>Status</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
                <option value="Terminated">Terminated</option>
            </select>
        </div>
        <div class="ui-field-contain">
            <label for="participant_route">Route</label>
            <select name="participant_route" id="participant_route">
                <option value="Congregate">Congregate</option>
                <option value="Truckee">Truckee</option>
                <option value="Kings Beach">Kings Beach</option>
                <option value="Tahoe City">Tahoe City</option>
                <option value="Incline Village">Incline Village</option>
            </select>
        </div>
        <div class="ui-field-contain">
            <label for="Q_ID">Q ID</label>
            <input name="Q_ID" id="Q_ID" placeholder="Enter participant's Q database ID" value="" type="text">
        </div>
        <div class="ui-field-contain">
            <label for="general_notes">Notes</label>
            <input name="general_notes" id="general_notes" placeholder="Enter general notes here.  Delivery notes are entered later." value="">
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div>
                    <ul>
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        <input id="add_status_submit" data-icon="action" data-iconpos="right" value="Add" type="submit">
        </form>

    </div><!-- /content -->
    
    <div data-role="footer" data-position="fixed">
        <h4>Footer content</h4>
    </div><!-- /footer -->
    
</div><!-- /page -->

</body>
</html>