<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <title>participants</title>

    <link rel="stylesheet" href="/static/themes/green.css" />
    <link rel="stylesheet" href="/static/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile.structure-1.4.3.min.css" /> 

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>

</head> 

<body> 

<div data-role="page">

    <div data-role="header" data-position="fixed">
        <h1><img src="../../static/routetrout_logo.png"></h1>
        <div data-role="navbar">
            <ul>
                <li><a href="/">Route</a></li>
                <li><a href="/participant" class="ui-btn-active">Participant</a></li>
                <li><a href="#">Reports</a></li>
                <li><a data-ajax="false" href="/define_preferences">Setup</a></li>
            </ul>
        </div>
    </div><!-- /header -->

    <div data-role="content">
        <form id="participant_status" method="POST">
        <div data-role="controlgroup" data-type="horizontal" data-mini="true">
            <a href="{{ url_for('show_participant_status', participant_id=participant.id) }}" class="ui-btn">Status</a>
            <a href="{{ url_for('show_participant_delivery', participant_id=participant.id) }}" class="ui-btn ui-btn-active">Delivery</a>
            <a href="{{ url_for('show_participant_meals', participant_id=participant.id) }}" class="ui-btn">Meals</a>  
            <a data-ajax="false" href="{{ url_for('show_participant_preferences', participant_id=participant.id) }}" class="ui-btn">Preferences</a>
            <a href="{{ url_for('show_participant_contact', participant_id=participant.id) }}"  class="ui-btn">Contact</a>
            <a href="{{ url_for('show_participant_vitals', participant_id=participant.id) }}" class="ui-btn">Vitals</a>
        </div>

        <h2 class="ui-bar ui-bar-a ui-corner-all">Participant {{ participant.full_name }}</h2>

        <div class="ui-field-contain">
            <label for="delivery_addr_line1">Delivery Address 1</label>
            <input name="delivery_addr_line1" id="delivery_addr_line1" placeholder="Enter participant's delivery address" value="{{ participant.delivery_addr_line1 }}" type="text">
        </div>
        <div class="ui-field-contain">
            <label for="delivery_addr_line2">Delivery Address 2</label>
            <input name="delivery_addr_line2" id="delivery_addr_line2" placeholder="Enter participant's delivery address" value="{{ participant.delivery_addr_line2 }}" type="text">
        </div>
        <div class="ui-field-contain">
            <label for="delivery_city">Delivery City</label>
            <input name="delivery_city" id="delivery_city" placeholder="Enter participant's delivery city" value="{{ participant.delivery_city }}" type="text">
        </div>
        <div class="ui-field-contain">
            <label for="delivery_state">Delivery State</label>
            <select name="delivery_state" id="delivery_state" data-native-menu="false">
                <option>State</option>
                <option value="CA"{% if participant.delivery_state == "CA" %} selected="selected"{% endif %}>California</option>
                <option value="NV"{% if participant.delivery_state == "NV" %} selected="selected"{% endif %}>Nevada</option>
            </select>
        </div>
        <div class="ui-field-contain">
            <label for="delivery_zipcode">Delivery Zipcode</label>
            <input name="delivery_zipcode" id="delivery_zipcode" placeholder="Enter participant's mailing zipcode" value="{{ participant.delivery_zipcode }}" type="text">
        </div>
        <div class="ui-field-contain">
            <label for="delivery_county">Delivery County</label>
            <select name="delivery_county" id="delivery_county" data-native-menu="false">
                <option>County</option>
                <option value="Nevada"{% if participant.delivery_county == "Nevada" %} selected="selected"{% endif %}>Nevada County</option>
                <option value="Placer"{% if participant.delivery_county == "Placer" %} selected="selected"{% endif %}>Placer County</option>
                <option value="Washoe"{% if participant.delivery_county == "Washoe" %} selected="selected"{% endif %}>Washoe County</option>   
            </select>
        </div>
        <div class="ui-field-contain">
            <label for="tel_3">Delivery Telephone Number</label>
            <input name="tel_3" id="tel_3" value="{{ participant.tel_3 }}" type="tel">
        </div>
        <div class="ui-field-contain">
            <label for="delivery_notes">Notes</label>
            <input name="delivery_notes" id="delivery_notes" value="{{ participant.delivery_notes }}" placeholder="Enter notes that would be helpful to route driver." />
        </div>
        <input id="status_submit" data-icon="action" data-iconpos="right" value="Update" type="submit">
        </form>
    </div><!-- /content -->
    
    <div data-role="footer" data-position="fixed">
        <h4>Footer content</h4>
    </div><!-- /footer -->
    
</div><!-- /page -->

</body>
</html>