<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <title>define health alerts</title>
    
    <link rel="stylesheet" href="/static/themes/green.css" />
    <link rel="stylesheet" href="/static/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile.structure-1.4.3.min.css" /> 

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <script>
    $(function() {
        // $( "#catalog" ).accordion();
        $( "#catalog li" ).draggable({
        appendTo: "body",
        helper: "clone"
    });

    $( "#health_alerts ul" ).droppable({
        activeClass: "ui-state-default",
        hoverClass: "ui-state-hover",
        accept: ":not(.ui-sortable-helper)",
        drop: function( event, ui ) {
            $( this ).find( ".placeholder" ).remove();
            $( "<li></li>" ).text( ui.draggable.text() ).appendTo( this );
        }
        }).sortable({
            items: "li:not(.placeholder)",
            sort: function() {
            // gets added unintentionally by droppable interacting with sortable
            // using connectWithSortable fixes this, but doesn't allow you to customize active/hoverClass options
            $( this ).removeClass( "ui-state-default" );
        }
        });
    });
    </script>
</head> 

<body> 

<div data-role="page">

    <div data-role="header" data-position="fixed">
        <h1>Route Trout</h1>
        <div data-role="navbar">
            <ul>
                <li><a href="#">Route</a></li>
                <li><a href="#" class="ui-btn-active" >Participant</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Setup</a></li>
            </ul>
        </div>
    </div><!-- /header -->
    <div data-role="content">
        <div data-role="controlgroup" data-type="horizontal" data-mini="true">
            <a href="#" class="ui-btn">Status</a>
            <a href="#" class="ui-btn">Meal Defaults</a>
            <a href="#" class="ui-btn">Delivery Info</a>
        </div>
        <div data-role="controlgroup" data-type="horizontal" data-mini="true">
            <a href="#" class="ui-btn ui-btn-active">Health Alerts</a>
            <a href="#" class="ui-btn">Food Preferences</a>
        </div>
        <div data-role="controlgroup" data-type="horizontal" data-mini="true">
            <a href="#" class="ui-btn">Contact</a>
            <a href="#" class="ui-btn">Vitals</a>
        </div>
        <h2 class="ui-bar ui-bar-a ui-corner-all">Participant</h2>
        <div id="base_exceptions">
          <div id="catalog">
            <h2><a href="#">Health Alerts</a></h2>
            <div>
              <ul>
                <li>diabetic</li>
                <li>nuts alergy</li>
                <li>walnut alergy</li>
                <li>milk alergy</li>
                <li>avocado alergy</li>
                <li>milk</li>
                <li>gluten free</li>
                <li>chopped food</li>
              </ul>
            </div>
          </div>
        </div>
         
        <div id="health_alerts" class="exceptions">
          <h1 class="ui-widget-header">Health Alert</h1>
          <div class="ui-widget-content">
            <ul>
              <li class="placeholder">Drag heath issues here</li>
            </ul>
          </div>
        </div>
    </div><!-- /content -->
    
    <div data-role="footer" data-position="fixed">
        <h4>Footer content</h4>
    </div><!-- /footer -->
    
</div><!-- /page -->

</body>
</html>