<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <title>Define Participant Preferences</title>
    
    <link rel="stylesheet" href="/static/themes/green.css" />
    <link rel="stylesheet" href="/static/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile.structure-1.4.3.min.css" /> 

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>

</head> 

<body> 

<div data-role="page">
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/tinysort/1.5.6/jquery.tinysort.min.js"></script>

    <style type="text/css">
    .ui-draggable-helper {
        background: #ccc;
        color: #000;
    }
    </style>
    <script>
    $(document).on('pageshow',function()
    {
        $(function() {
            $( "#def_pref li" ).draggable({
                appendTo: "body",
                helper: "clone",
                cursorAt: {
                    right: 0
                },
                opacity: 1,
                start: function(e, ui)
                {
                    $(ui.helper).addClass("ui-draggable-helper");
                }
            });

            $( ".part_boxes " ).droppable({
                activeClass: "ui-state-default",
                hoverClass: "ui-state-hover",
                accept: ":not(.ui-sortable-helper)",
                drop: function( event, ui ) {
                    var new_text = ( ui.draggable.text() );
                    var drop_box = $( this ).attr("data-box");

                    var data = {
                        "pref_type": drop_box,
                        "part_pref": new_text
                    };
                    
                    var new_a = $("<a />").attr("href", "#").text( ui.draggable.text() );
                    var new_li = $("<li />").attr({
                        "data-icon": "delete",
                        });
                        new_li.append(new_a);
                    var ui = $(this).find('ul');

                    $.ajax({
                        url: "{{ url_for('show_participant_preferences', participant_id=participant.id) }}",
                        data: data,
                        type : "POST"
                    }).done(function(response){
                        debugger;
                        console.log( response );
                        var dataId = JSON.parse(response).id;
                        new_li.attr('data-id', dataId)
                        $( new_li ).appendTo( ui );

                        ui.find("li").tsort();
                        ui.listview('refresh');
                    });


                }
            });

        });
    });

    </script>
    <script>
        function deletePreference(event, obj){
            part_pref_id = obj.attr('data-id');

            var data = {
                "part_pref_id": part_pref_id
            };
            $.ajax({
                url: "{{ url_for('delete_participant_preferences', participant_id=participant.id) }}",
                data: data,
                type : "POST"
            }).done(function(response){
                $(" li[data-id = "+part_pref_id+"] ").remove();
                $(".part_boxes ul").listview('refresh');
                console.log(response);
            });
        }

    $(document).on("pageshow", function(){

        $(document).on('click','.part_boxes li',function(event){
            deletePreference(event, $(this));
        });

    });
    </script>

    <div data-role="header" data-position="fixed">
        <h1><img src="../../static/routetrout_logo.png"></h1>
        <div data-role="navbar">
            <ul>
                <li><a href="/" class="ui-btn-active">Route</a></li>
                <li><a href="/participant">Participant</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="/define_preferences">Setup</a></li>
            </ul>
        </div>
    </div><!-- /header -->
    
    <div data-role="content">
        <div data-role="controlgroup" data-type="horizontal" data-mini="true">
            <a href="{{ url_for('show_participant_status', participant_id=participant.id) }}" class="ui-btn">Status</a>
            <a href="{{ url_for('show_participant_delivery', participant_id=participant.id) }}" class="ui-btn">Delivery</a>
            <a href="{{ url_for('show_participant_meals', participant_id=participant.id) }}" class="ui-btn">Meals</a>
            <a href="{{ url_for('show_participant_preferences', participant_id=participant.id) }}" class="ui-btn ui-btn-active">Preferences</a>
            <a href="{{ url_for('show_participant_contact', participant_id=participant.id) }}"  class="ui-btn">Contact</a>
            <a href="{{ url_for('show_participant_vitals', participant_id=participant.id) }}" class="ui-btn">Vitals</a>
        </div>

        <h2 class="ui-bar ui-bar-a ui-corner-all">Participant {{ participant.full_name }}</h2>
        
        <div class="ui-grid-a">
            <div class="ui-block-a" id="def_pref">
                <h2>Preferences</h2>
                <div>
                    <ul style="width: 80%">
                        {% for pref in def_pref_list %}
                        <li class="ui-btn ui-corner-all" data-mini="true">{{ pref.description }}</li>
                        {% endfor %}   
                    </ul>
                </div>
            </div>
            <div class="ui-block-b">

                <div id="health_alerts" data-box="alert" class="part_boxes ui-body ui-body-a ui-corner-all">
                    <h3 class="ui-widget-header">Drag Health Alerts Here</h3>
                    <div class="ui-widget-content">
                        <ul style="min-height: 20px" data-role="listview" data-inset="true">
                            {% for part_pref in part_pref_list %}
                            {% if part_pref.pref_type == "alert" %}
                            <li data-icon="delete" class="ui-btn ui-corner-all" data-mini="true" data-id="{{ part_pref.id }}"><a href="#">{{ part_pref.pref_description }}</a></li>
                            {% endif %}
                            {% endfor %} 
                        </ul>
                    </div>
                </div>

                <div id="no_thankyou" data-box="no" class="part_boxes ui-body ui-body-a ui-corner-all">
                    <h3 class="ui-widget-header">No, Thank You Items Here</h3>
                    <div class="ui-widget-content">
                        <ul style="min-height: 20px" data-role="listview" data-inset="true">
                            {% for part_pref in part_pref_list %}
                            {% if part_pref.pref_type == "no" %}
                            <li data-icon="delete" class="ui-btn ui-corner-all" data-mini="true" data-id="{{ part_pref.id }}"><a href="#">{{ part_pref.pref_description }}</a></li>
                            {% endif %}
                            {% endfor %} 
                        </ul>
                    </div>
                </div>

                <div id="yes_please" data-box="yes" class="part_boxes ui-body ui-body-a ui-corner-all">
                    <h3 class="ui-widget-header">Yes, Please Items Here</h3>
                    <div class="ui-widget-content">
                        <ul style="min-height: 20px" data-role="listview" data-inset="true">
                            {% for part_pref in part_pref_list %}
                            {% if part_pref.pref_type == "yes" %}
                            <li data-icon="delete" class="ui-btn ui-corner-all" data-mini="true" data-id="{{ part_pref.id }}"><a href="#">{{ part_pref.pref_description }}</a></li>
                            {% endif %}
                            {% endfor %} 
                        </ul>
                    </div>
                </div>
            </div>
        </div>       
    </div><!-- /content -->
    
    <div data-role="footer" data-position="fixed">
        <h4>Footer content</h4>
    </div><!-- /footer -->
    
</div><!-- /page -->

</body>
</html>