<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <title>Participant Meals</title>

    <link rel="stylesheet" href="/static/themes/green.css" />
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="/static/jqm/jquery.mobile.structure-1.4.3.min.css" /> 

    <script src="/static/jq/jquery-1.11.1.min.js"></script>
    <script src="/static/jqm/jquery.mobile-1.4.3.min.js"></script>

</head> 

<body> 

<div data-role="page">

    <div data-role="header" data-position="fixed">
        <h1><img src="../../static/routetrout_logo.png"></h1>
        <div data-role="navbar">
            <ul>
                <li><a href="/">Route</a></li>
                <li><a href="/participant" class="ui-btn-active">Participant</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="/define_preferences">Setup</a></li>
            </ul>
        </div>
    </div><!-- /header -->
    
    <div data-role="content">
        <div data-role="controlgroup" data-type="horizontal" data-mini="true">
            <a href="{{ url_for('show_participant_status', participant_id=participant.id) }}" class="ui-btn">Status</a>
            <a href="{{ url_for('show_participant_delivery', participant_id=participant.id) }}" class="ui-btn">Delivery</a>
            <a href="{{ url_for('show_participant_meals', participant_id=participant.id) }}" class="ui-btn ui-btn-active">Meals</a>
            <a data-ajax="false" href="{{ url_for('show_participant_preferences', participant_id=participant.id) }}" class="ui-btn">Preferences</a>
            <a href="{{ url_for('show_participant_contact', participant_id=participant.id) }}"  class="ui-btn">Contact</a>
            <a href="{{ url_for('show_participant_vitals', participant_id=participant.id) }}" class="ui-btn">Vitals</a>
        </div>
        
        <h2 class="ui-bar ui-bar-a ui-corner-all">Participant {{ participant.full_name }}</h2>

        <form id="participant_meals" method="POST">
            <table data-role="table" data-mode="reflow" class="ui-body-a ui-responsive table-stripe" id="meals_{{ participant.participant_id }}">
            <thead class="ui-bar-a">
                <tr>
                    <th>Meal</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
            </thead>
            <tbody>
            {% set meal_list = ['regular', 'frozen', 'breakfast', 'milk', 'salad', 'fruit', 'bread'] %}
            {% set day_list = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'] %}
            {% for meal in meal_list %}                           
                <tr>
                    <th>{{ meal }}</th>
                        {% for day in day_list %}
                            <td>
                                <input class="meal_matrix"
                                       data-clear-btn="false" 
                                       data-mini="true"
                                       data-meal="{{ meal }}"
                                       data-day="{{ day }}"
                                       value="{{ part_meals_dict[meal][day] }}" 
                                       type="number">
                            </td>
                        {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <script>

        $(document).on("pageshow", function(){

            $(document).on('click','#meals_submit',function(event){

                var mealList = []
                var matrixList = document.getElementsByClassName('meal_matrix');
                for (var index=0; index < matrixList.length; index++) {
                    var meal = $(matrixList[index]).data('meal');
                    var day = $(matrixList[index]).data('day');
                    var qty = $(matrixList[index]).val();
                    mealList.push({
                        meal: meal,
                        day: day,
                        qty: qty
                    })

                }

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "{{ url_for('update_participant_meals', participant_id=participant.id) }}",
                    data: JSON.stringify(mealList),
                    dataType: "json"
                }).done(function(response){
                    console.log(response);
                });
            });

        });
        </script>

        <input id="meals_submit" data-icon="action" data-iconpos="right" value="Update" type="button">
        </form>
    </div><!-- /content -->
    
    <div data-role="footer" data-position="fixed">
        <h4>Footer content</h4>
    </div><!-- /footer -->
    
</div><!-- /page -->

</body>
</html>